%h1 Listing activities

%table.table
  %thead
    %tr
      %th Date
      %th Distance
      %th Service
      %th
      %th
      %th

  %tbody
    - @activities.each do |activity|
      %tr
        %td= activity.date.to_s :short
        %td= (activity.distance / 1000).round(1).to_s + " km"
        %td= activity.integration_user.service_name.humanize
        %td= link_to 'Show', activity
        %td= link_to 'Edit', edit_activity_path(activity)
        %td= link_to 'Destroy', activity, :method => :delete, :data => { :confirm => 'Are you sure?' }

= link_to 'New Activity', new_activity_path, { :class => "btn btn-primary" }
